
body, html {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", sans-serif;
}

.menu {
  display: none;
}

.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://marketplace.canva.com/EAF4LOeerKk/1/0/1600w/canva-peach-ash-grey-gradient-color-and-style-video-background-6BKxx3Fk-w8.jpg");
  min-height: 90%;
}

.main-title {
  font-size: 60px;
}

.mobile-title {
  font-size: 100px;
}
